body{
  color: #6e6e6e;
     font-family: 'Georgia';
    font-size: 14px;
}
@font-face {
     font-family: 'Georgia';
    src: url(../fonts/Georgia.ttf);
}
@font-face {
     font-family: 'GeorgiaBold';
    src: url(../fonts/GeorgiaBold.ttf);
}

@font-face {
     font-family: 'GeorgiaBoldItalic';
    src: url(../fonts/GeorgiaBoldItalic.ttf);
}

@font-face {
     font-family: 'GeorgiaItalic';
    src: url(../fonts/GeorgiaItalic.ttf);
}

html,body{
  height: 100%;
  width: 100%;
}

/*h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
}*/
/*======================================================
           COMMAN CLASS
  ======================================================*/
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  padding: 0px;
}
p{
  margin: 0px;
}
a {
  color: #6e6e6e;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #231f20;
  text-decoration: none;
}

.text-upp{
    text-transform: uppercase;
}
/*----------------------FONT COLOR CLASSES-------------------------*/

.whiteclr{
  color: #fff !important;
}
.blackclr{
  color: #000 !important;
}
.mauto{
    margin: 0 auto;
}

/*==========       BASIC CLASSES     ==========*/

/* ========================================= */
/* =============SPACE CLASSES============== */
/* ========================================= */
.space5{
  margin-top: 5px;
}
.space10{
  margin-top: 10px;
}
.space15{
  margin-top: 15px;
}
.space20{
  margin-top: 20px;
}
.space25{
  margin-top: 25px;
}
.space30{
  margin-top: 30px;
}
.space40{
  margin-top: 40px;
}
.space50{
  margin-top: 50px !important;
}
.space60{
  margin-top: 60px;
}
.space70{
  margin-top: 70px;
}
.space80{
  margin-top: 80px;
}
.space100{
  margin-top: 100px;
}

/* ========================================= */
/* =============PADDING CLASSES============== */
/* ========================================= */
.pad0{
  padding: 0 !important;
}
.padleft0{
  padding-left: 0px !important;
}
.padright0{
  padding-right: 0px !important;
}
.padtop0{
  padding-top: 0px !important;    
}
.padbottom0{
  padding-bottom: 0px !important;   
}
.padding10{
  padding: 10px !important;
}
.padding15{
  padding: 15px;
}
.padding20{
  padding: 20px !important;
}
.padding25{
  padding: 25px;
}
.padding30{
  padding: 30px !important;
}
.padding50{
  padding: 50px;
}
.padbtm100{
  padding-bottom: 100px;
}
.padbtm80{
  padding-bottom: 80px;
}
.padbtm50{
  padding-bottom: 50px !important;
}
.padbtm20{
  padding-bottom: 20px !important;
}
.padleft25{
  padding-left: 25px !important;
}

/* ========================================= */
/* =============MARGIN CLASSES============== */
/* ========================================= */
.m0{
  margin: 0;
}
.mbtm0{
  margin-bottom: 0px;
}
.mtop0{
  margin-top:0px;
}
.mtop10{
  margin-top:10px;
}
.mbtm10{
  margin-bottom:10px;
}
.mleft20{
  margin-left:20px;
}
.mleft40{
  margin-left:40px;
}
.mleft60{
  margin-left:60px;
}
.mright10{
  margin-right:10px;
}
.mauto img{
  margin: 0px auto !important;
  width: 100%  !important;
}

.mautomargin{
  margin: 0px auto !important;
}


/* ========================================= */
/* =============FONT SIZE CLASSES============== */
/* ========================================= */
.fsize8{
  font-size: 8px !important;
}
.fsize10{
  font-size: 10px !important;
}
.fsize12{
  font-size: 12px !important;
}
.fsize13{
  font-size: 13px;
}
.fsize14{
  font-size: 14px !important;
}
.fsize16{
  font-size: 16px !important;
}
.fsize18{
  font-size: 18px !important;
}
.fsize20
{
  font-size: 20px !important;
}
.fsize22{
  font-size: 22px !important;
}
.fsize24{
  font-size: 24px !important;
}
.fsize26{
  font-size: 26px;
}
.fsize28{
  font-size: 28px;
}
.fsize30{
  font-size: 30px !important;
}
.fsize36{
  font-size: 36px !important;
}
.fsize40{
  font-size: 40px !important;
}
.fsize50{
  font-size: 50px !important;
}
.fsize60{
  font-size: 60px !important;
}
.fsize70{
  font-size: 70px !important;
}
.fsize80{
  font-size: 80px;
}
.fsize90{
  font-size: 90px;
}
.fsize100{
  font-size: 100px !important;
}

/* ========================================= */
/* =============FONT WEIGHT CLASSES============== */
/* ========================================= */
.f100{
  font-weight: 100;
}

.f200{
  font-weight: 200;
}
.f300{
  font-weight: 300;
}
.f400{
  font-weight: 400;
}
.f500{
  font-weight: 500;
}
.f600{
  font-weight: 600;
}
.f700{
  font-weight: 700;
}
.f800{
  font-weight: 800;
}

input{
	outline: none !important;
}
button{
	outline: none !important;
}

/*==========================================================================*/

/*::-webkit-scrollbar {
  display: none;
}*/




/*========================Start Css=========================================*/
.title{
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

/*====================================================nav start==================================*/
  .navbar-nav {
    width: 100%;
    text-align: center;
    /* padding: 50px 0; */
    padding-top: 81px;
    padding-bottom: 25px;
}
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }
  
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #000000;
}

.logo_class {
    position: absolute;
    top: 0;
    left: 37%;
    right: 0;
    padding-top: 46px;
}
.upper {
    background-color: #333333;
    width: 276px;
    padding: 13px 0px;
    border-radius: 6px;
    float: right;
    margin-right: 0;
}


.upper ul li a
{
  color: #fff;
}

/*===================================================nav end=====================================*/
#smile
{
  background: url(../img/smile.png) no-repeat;
  background-size: cover;
  padding: 15% 0px;
  margin-top: -20px;

}


/*==============================================grid_pics start============================================================*/

#grid_pics {
    padding: 78px 0px;
  
}

.pic_div{

}

.spec{
  border-bottom: 7px solid black;
}

h3.ger{
  color: black;
  text-transform: uppercase;
  font-size: 22px;
}
p.Dental {
    font-family: 'GeorgiaBold';
    line-height: 24px;
    color: black;
    font-size: 13px;
}
.btn_Läs
{ font-family: 'GeorgiaItalic';
  background-color: black;
  color: white;
  height: 43px;
  width: 130px;
  border:none;
  border-radius: 5px;
  margin-top: 25px;
}

/*==============================================grid_pics end============================================================*/


/*===============================================COMPANY SECTION START=======================================*/
#company
{
  background: url(../img/contact_pic.png) no-repeat;
  background-size: cover;
  padding: 229px 0px;
  margin-top: -20px;
}
h2.About {

    color: white;
    position: absolute;
    /* bottom: 39%; */
    bottom: -181px;
}



/*===============================================COMPANY SECTION END=======================================*/

/*========================================CONTACT SECTION START====================================*/
#contact
{
  padding: 40px 0px;
}


.home_circle
{
  padding: 10px 0;
}
h2.adress {
    font-size: 22px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 9px;
}


h2.adress:after {
    content: '';
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 41%;
    height: 6px;
    width: 48px;
    background: black;
}
p.Lilla {
    text-align: center;
    color: black;
    /* padding-top: 8px; */
    margin-top: 18px;
    font-size: 14.69px;
}
.home_circle .fas , .home_circle .far {
    text-align: center;
    background: #000;
    padding: 17px 17px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}

/*===========================conntact end--------------------------------------------*/



/*================================pic div2 start==============================*/
p.Design
{
  padding-top: 20px;
  font-style: italic;
  color: black;
  font-size: 21px;
}
h3.Personal {
    font-size: 26px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 44px;
}
h3.Personal:after {
    content: '';
    position: absolute;
    /* top: 70%; */
    bottom: 39px;
    left: 17px;
    height: 6px;
    width: 91px;
    background: black;
}

h3.den_text {
    color: black;
    font-size: 19px;
    text-transform: uppercase;
    padding-left: 9px;
}
.mail_font {
    color: black;
    padding-right: 13px;
    padding-left: 10px;
}
.jorgen
{
    line-height: 32px;
  font-size: 14px;
  color: black;
}
.pic_div2
{
  background-color: #E8E8E8;
}

/*@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}*/
#pic_div2 {
    padding: 78px 0px;
    padding-top: 12px;
}
/*======================================pic div 2 end==============================*/



/*====================================made start==============================================*/
#made {
    background: url(../img/abc.png) no-repeat;
    background-size: cover;
    padding: 83px 0;
    margin-top: -20px;
}
.sweden {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 19px;
    width: 100%;
    /* height: 495px; */
}
.sweden_text {
    /* text-align: center; */
    color: black;
    font-size: 19px;
    font-family: 'GeorgiaItalic';
    line-height: 40px;
    padding-left: 80px;
}
.quote_pic {
    position: absolute;
    left: 60px;
}
/*==================================MADE END===============================================================*/

/*============================================FOOTER START====================================================*/

footer
{
  padding: 50px 0px;
  background-color: #333333;
}
.gruppen {
    font-family: 'GeorgiaItalic';
    color: white;
    font-size: 15px;
    line-height: 28px;
    padding-left: 23px;
}
h1.Kontakta
{
  color: white;
  font-size: 28px;
  margin-top: 0
}
h1.Kontakta:after {
    content: '';
    position: absolute;
    top: 40px;
    /* bottom: -5px; */
    left: 90px;
    height: 6px;
    width: 91px;
    background: white;
}


footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 26px;
}
footer ul li {
    padding: 0px;
    color: white;
    line-height: 42px;
    border-bottom: 2px solid;
    font-size: 15px;
}
.map
{
  color:white;
}
.space {
    padding-left: 72px;
}
.logs
{
  width: 100%;
}

/*=============================================FOOTER END====================================================*/



#logoes
{
  background-color: white;
  padding: 40px 0;
}





























































/*===============================RESPONSIVE==============================================================*/
@media(max-width: 1024px)
{

}

@media(max-width: 991px)
{
    .navbar-default .navbar-nav > li > a {
    font-size: 15px;
  }
  .pic_div2 {
    background-color: #E8E8E8;
    margin-top: 16px;
  }
  .spec {
    border-bottom: 7px solid black;
    width: 100%;
}
   h2.About {
    color: white;
    position: absolute;
    /* bottom: 39%; */
    bottom: -119px;
}
#company {
    background: url(../img/contact_pic.png) no-repeat;
    background-size: cover;
    padding: 161px 0px;
    margin-top: -20px;
}


     h3.ger {
        color: black;
        text-transform: uppercase;
        font-size: 20px;
    }
    h2.adress:after {
        content: '';
        position: absolute;
        top: 98%;
        bottom: 0;
        left: 34%;
        height: 6px;
        width: 48px;
        background: black;
    }
    h2.adress {
        position: relative;
      
    }
    p.Design {
       
        font-size: 18px;
    }

    h3.Personal {
        font-size: 24px;
        padding-bottom: 22px;
    }

    h3.Personal:after {

        bottom: 14px;

    }

    .sweden_text { 
        font-size: 18px;

    }
    h1.Kontakta {
        font-size: 24px;
    }
    .space {
        padding-left: 0px;
    }
    h1.Kontakta:after {
        content: '';
        position: absolute;
        top: 40px;
        /* bottom: -5px; */
        left: 18px;
        height: 6px;
        width: 91px;
        background: white;
    }

    .mail_font {
        color: black;
         padding-right: 2px; 
         padding-left: 0; 
    }

    .jorgen {
    line-height: 32px;
    font-size: 16px;
    padding-left: 4px;
    color: black;
}
    h3.den_text {
        color: black;
        font-size: 15px;
        text-transform: uppercase;
        padding-left: 4px;
    }
    .logo_class {
    position: absolute;
    top: 15px;
    left: 17%;
    right: 0;
    padding-top: 46px;
   }

}

@media(max-width: 767px)
{
    .logo_class {
        position: absolute;
        top: 26px;
        left: 17%;
        right: 0;
        width: 80%;
        width: 70%;
        padding-top: 46px;
    }
  .btn_Läs {
    margin-bottom: 20px;
  }
  #company {
    background: url(../img/contact_pic.png) no-repeat;
    background-size: cover;
    padding: 92px 0px;
    margin-top: -20px;
    background-position: 52% 78%;
}
.navbar-nav > li {
    float: none;
    display: block;
}
h2.About {

    bottom: -54px;
}
h2.adress:after {
    left: 43%;
}
p.Design {
    font-size: 16px;
}

p.Design {
    font-size: 16px;
}
h2.adress {
    position: relative;
    font-size: 18px;
}

.spec {
    width: 100%;
}


.pic_div2 {
    background-color: #E8E8E8;
    margin-bottom: 14px;
}
.sweden_text {
    /* text-align: center; */
    color: black;
    font-size: 16px;
    font-family: 'GeorgiaItalic';
    line-height: 40px;
    padding-left: 18px;
}
.quote_pic {
    position: absolute;
    left: 20px;
    }


.space {
    padding-left: 0px;
    margin-top: 40px;
}
.navbar-nav {
    width: 100%;
    text-align: left;
    /* padding: 50px 0; */
    padding-top: 17px;
    padding-bottom: 29px;
}
.gruppen {

    padding-left: 0;
}
#grid_pics {
    padding: 21px 0px;
}

.upper {
    background-color: #333333;
    width: 276px;
    padding: 13px 0px;
    border-radius: 6px;
    float: right;
    


}



.navbar-toggle {
    position: relative;
    color: #fff;
       padding: 14px 23px;

    float: none;
    margin-right: auto;
    margin-bottom: 8px;
    background-color: black;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    display: block;
        margin-top: 119px;
    padding-bottom: 23px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    margin-top: -6px;
    margin-left: -10px;
}



.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 1px;
    color: white;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #000000;
}





















}

